<html>
  <head>
    <title>Unit 2 Rot 13</title>
  </head>

  <body>
    <img src="Animal Care Center.jpg" alt = "logo" style=" width:200px;height:200px;">

    <h2>Enter some text to ROT13:</h2>
    <form method="post">
             <select name="Physician">
              {% for item in physicians %}
                <option  value="{{ item.physicianid }}">{{ item.firstname }}</option>
             {% endfor %}
             </select>

             <select name="Nurse">
              {% for item in nurses %}
                <option  value="{{ item.nurseid }}">{{  item.firstname }}</option>
             {% endfor %}
             </select>
             
 
      <br>
      <input type="submit">

    </form>
  </body>

</html>
