
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Appointment Information</h1>

  <div>
    <table border="1">
       <tr>
        <td><b>Physician Name</b></td>
        <td><b>Appointment Date</b></td>
        <td><b>Appointment ID</b></td>
       </tr>
      
    {% for n in data %}
     <tr>
        
         <td>{{n.firstname}} {{n.lastname}}</td>
         <td>{{n.appointmentdate}}</td>
         <td>{{n.appointmentid}}</td>
         <td><a href="/billing?id={{n.appointmentid|string }}">View/Add Billing</a></td>
             
    </tr>
    {% endfor %}
   </table>
  </div>


 <h2>Make an Appointment for Pet</h2>
  
<form method="POST" action="/appointments">
Select Appointment Month:
  <select name="moa">
    <option value="1" name="moa">January</option>
    <option value="2" name="moa">February</option>
    <option value="3" name="moa">March</option>
    <option value="4" name="moa">April</option>
    <option value="5" name="moa">May</option>
    <option value="6" name="moa">June</option>
    <option value="7" name="moa">July</option>
    <option value="8" name="moa">August</option>
    <option value="9" name="moa">September</option>
    <option value="10" name="moa">October</option>
    <option value="11" name="moa">November</option>
    <option value="12" name="moa">December</option>
    </select>
    <br>
Select Appointment Day:
<select name="doa">
<option value="1" name="doa">1</option>
<option value="2" name="doa">2</option>
<option value="3" name="doa">3</option>
<option value="4" name="doa">4</option>
<option value="5" name="doa">5</option>
<option value="6" name="doa">6</option>
<option value="7" name="doa">7</option>
<option value="8" name="doa">8</option>
<option value="9" name="doa">9</option>
<option value="10" name="doa">10</option>
<option value="11" name="doa">11</option>
<option value="12" name="doa">12</option>
<option value="13" name="doa">13</option>
<option value="14" name="doa">14</option>
<option value="15" name="doa">15</option>
<option value="16" name="doa">16</option>
<option value="17" name="doa">17</option>
<option value="18" name="doa">18</option>
<option value="19" name="doa">19</option>
<option value="20" name="doa">20</option>
<option value="21" name="doa">21</option>
<option value="22" name="doa">22</option>
<option value="23" name="dob">23</option>
<option value="24" name="doa">24</option>
<option value="25" name="doa">25</option>
<option value="26" name="doa">26</option>
<option value="27" name="doa">27</option>
<option value="28" name="doa">28</option>
<option value="29" name="doa">29</option>
<option value="30" name="doa">30</option>
<option value="31" name="doa">31</option>
</select>
<br>
 <td>Boarding Year</td><td>  <select name="yoa">
    <option value="2017" name="yoa">2017</option>
    <option value="2018" name="yoa">2018</option>
    </select></td></tr>
  <tr><td>

Select Appointment Hour( 7AM - 6PM):
<select name="hoa">
<option value="7" name="hoa">7AM</option>
<option value="8" name="hoa">8AM</option>
<option value="9" name="hoa">9AM</option>
<option value="10" name="hoa">10AM</option>
<option value="11" name="hoa">11AM</option>
<option value="12" name="hoa">12PM</option>
<option value="13" name="hoa">13PM</option>
<option value="14" name="hoa">14PM</option>
<option value="15" name="hoa">15PM</option>
<option value="16" name="hoa">16PM</option>
<option value="17" name="hoa">17PM</option>
<option value="18" name="hoa">18PM</option>
</select>
</br>
Physician Name:
  <select name="Physician">
    {% for item in physicians %}
      <option  value="{{ item.physicianid }}">{{ item.firstname }}</option>
   {% endfor %}
   </select>
</br>
Nurse Name:
   <select name="Nurse">
    {% for item in nurses %}
      <option  value="{{ item.nurseid }}">{{ item.firstname }}</option>
   {% endfor %}
   </select>

<br>
<input type="hidden" name="petid" value="{{request.args.get('id') }}"></input>
<input type="submit" value="Add"></p>
<a href="/">Back</a>

</form>



</body>

</html>

