<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Patient Management</h1>
  
  <div>
    <table border="1">
       <tr>
        <td><b>Pet ID</b></td>
        <td><b>Pet Name : DOB</b></td>
        <td><b>AppointmentID</b></td>
        <td><b>Appointment Date</b></td>
       </tr>
      
    {% for n in data %}
     <tr>
     	 <td>{{n.petid}}</td>  
         <td>{{n.petname}} : {{n.dob}}/ {{n.dob}}/ {{n.yob}}</td>
         <td>{{n.appointmentid}}</td>  
         <td>{{n.appointmentdate}}</td>  
         <td><a href="{{ '/drugs?id='+n.petid|string }}">View Drug Details</a></td>
        </tr>
    {% endfor %}
   </table>
  </div>

<a href="\">Back</a>


</body>

</html>
