<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome Admin</h1>

  <div>
    <table border="1">
       <tr>
        <td><b>CustomerID</b></td>
        <td><b>First Name</b></td>
        <td><b>Last Name</b></td>
        <td><b>Phone</b></td>
        <td><b>Email</b></td>
        <td><b>Street</b></td>
        <td><b>City</b></td>
        <td><b>State</b></td>
        <td><b>Country</b></td>
        <td><b>ZipCode</b></td>
        <td><b>View/Add Pets</b></td>
      </tr>
      
    {% for n in data %}
     <tr>
         <td>{{n.customerid}}</td>  
         <td>{{n.firstname}}</td>
         <td>{{n.lastname}}</td>
         <td>{{n.phone}}</td>
         <td>{{n.email}}</td>
         <td>{{n.street}}</td>
         <td>{{n.city}}</td>
         <td>{{n.state}}</td>
         <td>{{n.country}}</td>
         <td>{{n.zipcode}}</td>
          <td><a href="{{ '/pets?id='+n.customerid|string }}">{{n.customerid}}</a></td>
    </tr>
    {% endfor %}
   </table>
  </div>

<p><a href="/addCustomer">Add Customer</a></p>


</html>
